.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  height: 100vh;
}

.container {
  margin: 0;
  width: 425px;
  padding: 20px;
  background-color: black;
  color: #fde400;
}

.resetbtn {
  width: 100%;
  background-color: black;
  color: #fde400;
  border: 1px solid #fde400;
}

.resetbtn:hover {
  background-color: #fde400;
  color: black;
}

.muted {
  color: #fde400a2;
}

.display img {
  width: 700px;
  margin-right: 0;
}
